.musicas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.musicas>button {
  flex: 0 0 30%;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.player>button {
  flex: 0 0 22%;
}

.player>button>span {
  font-size: 1.2em;
}

.slotBotoesModal {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.slotBotoesModal>button {
  flex: 0 0 30%;
}