.temaPrincipal {
  --corPrimaria: rgb(13, 53, 161);
  --corPrimariaEscura: rgb(9,42,129);
  --corPrimariaMaisEscura: rgb(6,31,100);
  --corPrimariaClara: rgb(32, 74, 190);
  --corPrimariaMaisClara: rgb(69, 102, 194);
  --corSecundaria: rgb(1, 133, 145);
  --corSecundariaEscura: rgb(1,107,117);
  --corSecundariaMaisEscura: rgb(1,83,90);
  --corSecundariaClara: rgb(14,163,177);
  --corSecundariaMaisClara: rgb(52,170,182);
  --corComplementar: rgb(239,162,0);
  --corComplementarEscura: rgb(192,130,0);
  --corComplementarMaisEscura: rgb(148,101,0);
  --corComplementarClara: rgb(255,178,17);
  --corComplementarMaisClara: rgb(255,196,70);
}